* {
    box-sizing: border-box;
}

body {
    font-family: Candara, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    color: #000000;
    background-color: #ffffff;
    margin-left: 30px;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

a {
    font-family: DokChampa, sans-serif;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #DC0012;
}

h1 {
    font-family: DokChampa,sans-serif;
    font-weight: 400;
    font-size: 48px;
    text-align: center;
    background: -webkit-linear-gradient(top, #2B0CD1, #DC0012);
    -webkit-background-clip: text;
    color:transparent;
}

h2 {
    text-align: center;
}

p {
    font-family: Candara, sans-serif;
    font-weight: 400;
    font-size: 20px;
}

/****************************
Header
 ***************************/

header {
    background-color: #000000;
}

.logo-barca {
    width: 150px;
    text-align: center;
    margin: auto;

}

/******************************
Main Accueil
 *****************************/

.page-accueil .center {
    width: 411px;
    text-align: center;
    margin: auto;

}

.page-accueil .intro {
    font-family: Candara, sans-serif;
    font-weight: 700;
    font-size: 48px;
}

/*********************************
Footer
 ********************************/

footer nav ul {
    list-style-type: none;
}

footer nav ul li {
    display: inline-block;
}

footer nav ul li img {
    height: 64px;
    padding: 10px;
}

.copyright {
    text-align: center;
}

.liste-reseaux {
    text-align: center;
}

/*********************************
Main page histoire
**********************************/

.page-histoire {
    text-align: center;
}

.page-histoire .celebration-messi {
    text-align: right;
    font-style: italic;
    float: right;
    font-weight: bold;
}

.page-histoire .celebration-messi-img {
    width: 300px;
    display: inline-block;
}

/***************************************
Main page palmarès
 **************************************/
.page-palmares h3 {
    font-weight: bold;
}

.page-palmares h4 {
    font-weight: bold;
}

.page-palmares .liste-2 {
    font-weight: normal;
}

