/****************************
GENERAL
 ***************************/

* {
    box-sizing: border-box;
}

body {
    font-family: Candara, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    color: #000000;
    background-color: #ffffff;
    margin-left: 30px;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

a {
    font-family: DokChampa, sans-serif;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
}

h1 {
    font-family: DokChampa,sans-serif;
    font-weight: 400;
    font-size: 48px;
    text-align: center;
    background: -webkit-linear-gradient(top, #2B0CD1, #DC0012);
    -webkit-background-clip: text;
    color:transparent;
}

h2 {
    text-align: center;
    font-size: 30px;
}

p {
    font-family: Candara, sans-serif;
    font-weight: 400;
    font-size: 20px;
}

/****************************
HEADER
 ***************************/

header {
    background-color: #000000;
    width: 100%;
}

.logo-barca {
    width: 150px;
    text-align: center;
    margin: auto;
}

/*Menu déroulant*/
.menu {
    width: 2em;
    margin: 1em;
    position: fixed;
}
.sidepanel  {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 20em;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}
.openbtn {
    position: fixed;
    font-size: 20px;
    cursor: pointer;
    background-color: rgba(169, 169, 169, 0);
    border: rgba(169, 169, 169, 0) 1px solid;
    color: white;
    padding: 10px 15px;
}

.openbtn img {
    margin-top: 10px;
    width: 50px;
}

header a.Actuel {
    font-weight: bold;
    color: #DC0012;
}

/******************************
MAIN ACCUEIL
 *****************************/

.page-accueil main {
    margin: auto 5%;
}

.page-accueil .center {
    text-align: center;
}

.page-accueil .intro {
    font-family: Candara, sans-serif;
    font-weight: 700;
    font-size: 48px;
    text-align: left;
}

.page-accueil main img {
    background:
            linear-gradient(
                    to right, #2B0CD1,#DC0012
            );
    background-size: 100% 5px;
    padding: 2px 2px;
}

/*********************************
FOOTER
 ********************************/

footer {
    text-align: center;
}

footer nav ul {
    list-style-type: none;
}

footer nav ul li {
    display: inline-block;
}

footer nav ul li img {
    height: 64px;
    padding: 10px;
}

.copyright {
    text-align: center;
}

.liste-reseaux {
    text-align: center;
}

/*********************************
MAIN PAGE MENU
 ********************************/

.page-menu {
    max-height: 505px;
}

.page-menu main {
    height: 100%;
    width: 100%;
}

.page-menu main div {
    background-color: #2B0CD1;
    width: 100%;
}

.page-menu main div:active {
    background-color: #DC0012;
}

.page-menu main div h1 {
    color: #ffffff;
}

/*********************************
MAIN PAGE HISTOIRE
**********************************/

.page-histoire main {
    text-align: justify;
    margin: auto 5%;
}

.page-histoire main img {
    background:
            linear-gradient(
                    to right, #2B0CD1,#DC0012
            );
    background-size: 100% 5px;
    padding: 2px 2px;
}

.page-histoire figure {
    width: 300px;
}

.page-histoire figcaption {
    font-weight: bold;
    text-align: justify;
    font-size: 20px;
}

.page-histoire a {
    font-size: 30px;
}

.page-histoire .celebration-messi-img {
    width: 300px;
    display: inline-block;
}

/***************************************
MAIN PAGE PALMARES
 **************************************/

.page-palmares main {
    margin: auto 5%;
}

.page-palmares h3 {
    font-weight: bold;
}

.page-palmares h4 {
    font-weight: bold;
}

.page-palmares .liste-2 {
    font-weight: normal;
}

/*****************************************
MAIN PAGE JOUEURS
 ***************************************/

.page-joueurs {
    text-align: center;
}

.page-joueurs main {
    margin: auto 5%;
}

.page-joueurs h3 {
    font-weight: normal;
    font-size: 20px;
}

.page-joueurs strong {
    font-weight: bold;
}

.page-joueurs h3 span {
    color: #DC0012;
    font-weight: bold;
}

.page-joueurs main img {
    width: 500px;
    background:
            linear-gradient(
                    to right, #2B0CD1,#DC0012
            );
    background-size: 100% 5px;
    padding: 2px 2px;
}

.page-joueurs video {
    width: 350px;
    margin-right: 5%;
}

.page-joueurs .video-presentation {
    text-align: center;
    display: block;
    margin-top: 150px;
}

/*****************************************
MAIN PAGE BOUTIQUE
 ***************************************/

.page-boutique footer {
    text-align: center;
}

.page-boutique main {
    margin: auto 5%;
    text-align: justify;
}

.page-boutique table {
    border: solid .1em #000000;
    margin: 0 auto;
}

.page-boutique td, th {
    border: solid .05em #000000;
    width: 11em;
    text-align: center;
}

.page-boutique th, .en-tete-colonne-tableau {
    background-color: #DC0012;
    color: #ffffff;
    font-weight: bold;
}

.page-boutique .titre-cellule {
    color: #2B0CD1;
    font-weight: bold;
}

.page-boutique .boutique {
    margin: 50px auto;
    display: flex;
    width: 211px;
    height: 100px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #DC0012 0%, rgba(255, 255, 255, 0) 100%), #2B0CD1;
    border-radius: 30px;
}

.page-boutique .boutique p {
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}
